# Server Port
PORT=3000

# Infobip SMS & Omnichannel API (Server-side & Cloud)
INFOBIP_BASE_URL=m9kvm2.api.infobip.com
INFOBIP_API_KEY=d7b9b8285c86b0aaa6b9b9d74a913eef-7c93ff7b-c719-4f6d-9704-b756ec3375b5
INFOBIP_SENDER_ID=AURA

# Super Admin Credential (Server-side verification)
ADMIN_EMAIL=qoteport@gmail.com
ADMIN_PASSWORD=Admin#32)))

# Exchange Rate (USD to LRD)
USD_TO_LRD_RATE=195
